<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission : Sauver la Planète</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Horloges globales et par jeu -->
    <div id="clock-container">
        <div class="clock-block">
            <div class="clock-label">Temps global</div>
            <canvas id="clock-global" width="70" height="70" class="clock-canvas"></canvas>
            <div id="digital-global" class="digital-clock">00:00</div>
        </div>
        <div class="clock-block">
            <div class="clock-label">Temps du jeu</div>
            <canvas id="clock-jeu" width="70" height="70" class="clock-canvas"></canvas>
            <div id="digital-jeu" class="digital-clock">00:00</div>
        </div>
    </div>
    <div id="game-container" class="container">
        <!-- Le contenu du jeu s'affichera ici -->
    </div>
    <!-- Pop-up de félicitations animée -->
    <div id="felicitation-popup" class="felicitation-popup"></div>

    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <!-- Modular views: charger les vues JS des énigmes ici -->
    <script src="{{ url_for('static', filename='js/views/view_jeu1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/views/view_jeu2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/views/view_jeu3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/views/view_jeu4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/views/view_jeu5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/views/view_final.js') }}"></script>
    <script src="{{ url_for('static', filename='js/views/view_success.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/views/view_success_jeu2.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
